<h1 class="page-header">About Dunkin'</h1>

<div class="row">

  <div class="col-md-3">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b8/Dunkin%27_Donuts_logo.svg/220px-Dunkin%27_Donuts_logo.svg.png"><br><br>

    <img class="img-responsive" src="https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2018/01/16/104948374-1_4_Cropped.1910x1000.jpg">
  </div>

  <div class="col-md-9 well">
    <p>Dunkin' Donuts, rebranding as Dunkin' (and also known colloquially as Dunkies, Dunkins, and Dunk[3]) is an American multinational quick service restaurant chain based in Canton, Massachusetts. It was founded in 1950 by William Rosenberg in Quincy, Massachusetts, and is one of the largest coffee and baked goods chains in the world, with more than 12,000 restaurants in 36 countries.[4][5] The chain's products include donuts, bagels, other baked goods, and a variety of hot and iced beverages.[6] The chain is currently owned by Dunkin' Brands.</p>

    <p>In 1990, Dunkin' Donuts acquired its main competitor, Mister Donut; the chain's North American locations were largely converted to Dunkin' Donuts, although the brand maintains presences in international markets.[7] In September 2018 the company announced plans to change its name to just Dunkin', effective January 2019.[8]</p>
  </div>

</div>




