<h1 class="page-header">My Final Project</h1>

<div class="well">
  <p>For my final project, I will be creating a web app that will analyze your spending habits at 2 of your favorite coffee joints - Starbucks and Dunkin'.  The purpose is to show how much money you spend at a particular store, and to make a recommendation that will save you $$$!</p>

  <p>The analysis will also compare the nutrition benefits (i.e. caffeine and calories) and show how much more (or less) you are consuming at a particular store.</p>

  <p>Click on the Nav Bar tabs to learn more about Dunkin' and Starbucks and their history, or click on the Coffee Showdown tab to start the analysis.</p>
</div>